body {
  padding-top: 50px;
}
.starter-template {
  padding: 0px 0px;
  text-align: left;
}
.container1 {
	margin-right: 70px;
	margin-left: 210px;
	margin-top: 20px;
}
.menu {
	margin-left: 23px;
}

#sidebar {
 position: fixed;
 top: 51px;
 left: 0px;
 width: 200px;
 height: 100%;
 background: linear-gradient(to top, #F7FAFE, #CCD9EA),
}

ul.sidemenu {
   padding: 0;
   margin: 0;
   list-style: none;
   width: 200px;
} 
ul.sidemenu li {
   float: left;
} 
ul.sidemenu li a, ul.cssmenu li a:visited {
   display: block;
   padding-left: 20px;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   margin-bottom: 1px;
   color: #E2E5EE;
   background-color: #6C90CF;
   width: 200px;
   -webkit-transition: top 1s ease-out 0.5s;
   -moz-transition: top 1s ease-out 0.5s;
   -o-transition: top 1s ease-out 0.5s;
   transition: top 1s ease-out 0.5s;
}
ul.sidemenu li a:hover {
   color: #4299C5;
   background-color: #EAEAEA;
}

